<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="produtos">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit-produtos/0">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Editar Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="send"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit-categorias/0">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Editar Categorias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
